### Multiclass classification

In [1]:
# Import necessary libraries

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
# Loading datasets
train = pd.read_csv('C:/Users/omjee/Documents/GitHub/Mobility-Analytics/train_Wc8LBpr.csv')
test = pd.read_csv('C:/Users/omjee/Documents/GitHub/Mobility-Analytics/test_VsU9xXK.csv')
train.shape, test.shape

((131662, 14), (87395, 13))

In [3]:
whole = train.append(test)  # combine train and test
print(whole.shape)

whole.head()
#whole.info()

(219057, 14)

,Trip_ID,Trip_Distance,Type_of_Cab,Customer_Since_Months,Life_Style_Index,Confidence_Life_Style_Index,Destination_Type,Customer_Rating,Cancellation_Last_1Month,Var1,Var2,Var3,Gender,Surge_Pricing_Type
0,T0005689460,6.77,B,1.0,2.42769,A,A,3.90500,0,40.0,46,60,Female,2.0
1,T0005689461,29.47,B,10.0,2.78245,B,A,3.45000,0,38.0,56,78,Male,2.0
2,T0005689464,41.58,NaN,10.0,NaN,NaN,E,3.50125,2,NaN,56,77,Male,2.0
3,T0005689465,61.56,C,10.0,NaN,NaN,A,3.45375,0,NaN,52,74,Male,3.0
4,T0005689467,54.95,C,10.0,3.03453,B,A,3.40250,4,51.0,49,102,Male,2.0

In [4]:
# Proportion of missing values in each column
whole.isnull().sum()/whole.shape[0]

Trip_ID                        0.000000
Trip_Distance                  0.000000
Type_of_Cab                    0.152326
Customer_Since_Months          0.045130
Life_Style_Index               0.153020
Confidence_Life_Style_Index    0.153020
Destination_Type               0.000000
Customer_Rating                0.000000
Cancellation_Last_1Month       0.000000
Var1                           0.537846
Var2                           0.000000
Var3                           0.000000
Gender                         0.000000
Surge_Pricing_Type             0.398960
dtype: float64

In [5]:
# Checking columns
whole['Trip_Distance'].describe()

count    219057.000000
mean         44.158725
std          25.507368
min           0.310000
25%          24.560000
50%          38.140000
75%          60.720000
max         109.230000
Name: Trip_Distance, dtype: float64

In [6]:
whole['Cancellation_Last_1Month'].describe()

count    219057.000000
mean          0.782915
std           1.036244
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           8.000000
Name: Cancellation_Last_1Month, dtype: float64

In [7]:
whole['Customer_Rating'].describe()

count    219057.000000
mean          2.848632
std           0.981100
min           0.001250
25%           2.152500
50%           2.895000
75%           3.581250
max           5.000000
Name: Customer_Rating, dtype: float64

In [8]:
print(whole['Customer_Since_Months'].describe())

# Filling missing values
whole['Customer_Since_Months'].fillna(value=0, inplace=True)
print('After:\n',whole['Customer_Since_Months'].value_counts())

count    209171.000000
mean          6.006048
std           3.626891
min           0.000000
25%           3.000000
50%           6.000000
75%          10.000000
max          10.000000
Name: Customer_Since_Months, dtype: float64
After:
 10.0    70817
0.0     26771
2.0     19445
3.0     17074
5.0     14405
1.0     13965
4.0     13035
7.0     12332
6.0     12279
8.0     10525
9.0      8409
Name: Customer_Since_Months, dtype: int64

In [9]:
# Handling missing values in column (Type_of_cab)
print('Before:\n',whole['Type_of_Cab'].value_counts())

whole['Type_of_Cab'].fillna('unknown', inplace=True)
print('After:\n',whole['Type_of_Cab'].value_counts())

Before:
 B    51585
C    46732
A    35878
D    31885
E    19609
Name: Type_of_Cab, dtype: int64
After:
 B          51585
C          46732
A          35878
unknown    33368
D          31885
E          19609
Name: Type_of_Cab, dtype: int64

In [10]:
# Handling missing values in column (Confidence_Life_Style_Index)
print('Before:\n',whole['Confidence_Life_Style_Index'].value_counts())

whole['Confidence_Life_Style_Index'].fillna('unknown', inplace=True)
print('After:\n',whole['Confidence_Life_Style_Index'].value_counts())

Before:
 B    67265
C    59736
A    58536
Name: Confidence_Life_Style_Index, dtype: int64
After:
 B          67265
C          59736
A          58536
unknown    33520
Name: Confidence_Life_Style_Index, dtype: int64

In [11]:
#whole['Life_Style_Index'].value_counts()
whole['Life_Style_Index'].describe()

count    185537.000000
mean          2.802594
std           0.226323
min           1.317850
25%           2.654620
50%           2.798280
75%           2.947650
max           4.875110
Name: Life_Style_Index, dtype: float64

In [12]:
whole['Life_Style_Index'].fillna(whole['Life_Style_Index'].mean(), inplace=True)
print('After:\n',whole['Life_Style_Index'].describe())

After:
 count    219057.000000
mean          2.802594
std           0.208288
min           1.317850
25%           2.688050
50%           2.802594
75%           2.913910
max           4.875110
Name: Life_Style_Index, dtype: float64

In [13]:
# Handling of Var1
print(whole['Var1'].describe())
whole['Var1'].fillna(whole['Var1'].mean(), inplace=True)

count    101238.000000
mean         64.095972
std          21.747037
min          30.000000
25%          46.000000
50%          61.000000
75%          79.000000
max         210.000000
Name: Var1, dtype: float64

In [14]:
# Log transformation
import numpy as np
#whole['Var1'] = np.log([whole['Var1']])
whole['Var1'] = whole['Var1'].apply(np.log)
print(whole['Var1'].shape)

(219057,)

In [15]:
print(whole['Var1'].describe())

count    219057.000000
mean          4.133547
std           0.235032
min           3.401197
25%           4.158883
50%           4.160382
75%           4.160382
max           5.347108
Name: Var1, dtype: float64

In [16]:
print('Var2 \n',whole['Var2'].describe())
print('Var3 \n', whole['Var3'].describe())

Var2
 count    219057.000000
mean         51.186586
std           4.974497
min          40.000000
25%          48.000000
50%          50.000000
75%          54.000000
max         124.000000
Name: Var2, dtype: float64
Var3
 count    219057.000000
mean         75.065777
std          11.580112
min          52.000000
25%          67.000000
50%          74.000000
75%          82.000000
max         206.000000
Name: Var3, dtype: float64

In [17]:
# label encoding of Destination_Type
whole['Destination_Type'].value_counts()

A    129010
B     49193
C     12397
D     11085
E      4549
F      3222
G      2513
H      2124
I      1334
J      1166
K      1102
L      1052
M       160
N       150
Name: Destination_Type, dtype: int64

In [18]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
whole['Destination_Type'] = le.fit_transform(whole['Destination_Type'])

In [19]:
# Dummy variable creation for gender
gender = pd.get_dummies(whole['Gender'], drop_first=True)
cab_dummy = pd.get_dummies(whole['Type_of_Cab'], drop_first=True)
clsi_dummy = pd.get_dummies(whole['Confidence_Life_Style_Index'], drop_first=True)

In [20]:
whole = pd.concat([whole, gender, cab_dummy, clsi_dummy], axis=1)
whole_c = whole.copy()

In [21]:
whole_c.drop(['Gender', 'Type_of_Cab', 'Confidence_Life_Style_Index'], axis=1, inplace=True)

In [22]:
clean_train = whole_c[whole_c['Surge_Pricing_Type'].isnull()==False].drop(['Trip_ID'], axis=1)
clean_train.head()

,Trip_Distance,Customer_Since_Months,Life_Style_Index,Destination_Type,Customer_Rating,Cancellation_Last_1Month,Var1,Var2,Var3,Surge_Pricing_Type,Male,B,C,D,E,unknown,B,C,unknown
0,6.77,1.0,2.427690,0,3.90500,0,3.688879,46,60,2.0,0,1,0,0,0,0,0,0,0
1,29.47,10.0,2.782450,0,3.45000,0,3.637586,56,78,2.0,1,1,0,0,0,0,1,0,0
2,41.58,10.0,2.802594,4,3.50125,2,4.160382,56,77,2.0,1,0,0,0,0,1,0,0,1
3,61.56,10.0,2.802594,0,3.45375,0,4.160382,52,74,3.0,1,0,1,0,0,0,0,0,1
4,54.95,10.0,3.034530,0,3.40250,4,3.931826,49,102,2.0,1,0,1,0,0,0,1,0,0

In [23]:
x_test = whole_c[whole_c['Surge_Pricing_Type'].isnull()==True].drop(['Trip_ID', 'Surge_Pricing_Type'], axis=1)
x_test.head()

,Trip_Distance,Customer_Since_Months,Life_Style_Index,Destination_Type,Customer_Rating,Cancellation_Last_1Month,Var1,Var2,Var3,Male,B,C,D,E,unknown,B,C,unknown
0,9.44,10.0,2.57438,1,3.68000,2,4.160382,46,63,1,0,0,0,0,0,0,0,0
1,32.15,10.0,2.85143,0,1.59375,0,4.174387,49,80,0,1,0,0,0,0,0,0,0
2,10.38,4.0,2.70530,3,4.50500,0,4.160382,47,74,1,0,1,0,0,0,0,0,0
3,14.94,6.0,2.48159,4,4.53000,0,4.143135,43,54,1,0,0,0,0,1,0,1,0
4,32.03,7.0,2.81598,10,4.60125,3,4.564348,44,56,1,1,0,0,0,0,0,0,0

In [24]:
y = clean_train['Surge_Pricing_Type']
clean_train.shape, y.shape, x_test.shape

((131662, 19), (131662,), (87395, 18))

In [25]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
x_train, x_valid, y_train, y_valid = train_test_split(clean_train, y, test_size=0.25, random_state=10)


log= LogisticRegression()
log.fit(x_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [26]:
pred = log.predict(x_valid)
accuracy_score(y_valid, pred)

0.9870883460930854

In [ ]:
# SVM classifier
from sklearn.svm import SVC
svc_model = SVC()

svc_model= SVC()
svc_model.fit(x_train, y_train)

In [ ]:
# Prediction
svc_pred = svc_model.predict(x_valid)

In [ ]:
# Data analysis and visualisation
import seaborn as sns
import matplotlib.pyplot as plt

# Plot showing pricing types
sns.countplot(clean_train['Surge_Pricing_Type'])

In [ ]:
# Distribution of Trip_distance
clean_train['Trip_Distance'].value_counts().hist(bins=20)
plt.xlabel('Trip_distance')